@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Integral CF";
  src: url("/fonts/IntegralCF-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-Variable.woff2") format("woff2");
  font-weight: 300 900;
  font-style: normal;
}

@layer base {
  body {
    @apply font-sans bg-white text-black antialiased;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading font-bold;
  }
}
